@font-face {
  font-family: "Spoqa";
  src: url("/font/SpoqaLight.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Spoqa";
  src: url("/font/SpoqaRegular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Spoqa";
  src: url("/font/SpoqaMedium.woff2");
  font-weight: 500;
  font-style: normal;
}
